
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>
<body>
<main>
    <h1>Hue Thief</h1>
    <p>Running with device {{ fake-jinja-device }} with baud rate {{ fake-jinja-baud-rate }}</p>
    <div hx-ext="client-side-templates">
        <button hx-get="/bulbs"
                hx-swap="innerHTML"
                hx-target="#content"
                mustache-array-template="foo">
            Click Me
        </button>

        <table>

            <thead>
            <tr>
                <th>Address</th>
                <th>Transaction ID</th>
                <th>Channel</th>
                <th>Identify</th>
            </tr>
            </thead>
            <tbody id="content">    </tbody>

        </table>
        <template id="foo">
            {{#data.bulbs}}
            <tr>
                <td>{{address}}</td>
                <td>{{transaction_id}}</td>
                <td>{{channel}}</td>
                <td>
                <button hx-post="/identify_bulb"
                        hx-ext='json-enc'
                        hx-vals='{"address": "{{address}}", "transaction_id": "{{transaction_id}}", "channel": "{{channel}}"}'
                        >
                        Identify
                </button>
                </td>
            </tr>
            {{/data.bulbs}}
        </template>
    </div>
    <h1>HTMX version</h1>
    <button hx-get="/bulbs_htmx"
            hx-disabled-elt="this"
            hx-target="#bulbs-content"
            placeholder="Loading..."
    >
        Get Bulbs
    </button>
    <table>

        <thead>
        <tr>
            <th>Address</th>
            <th>Transaction ID</th>
            <th>Channel</th>
            <th>Identify</th>
            <th>Reset</th>
        </tr>
        </thead>
        <tbody id="bulbs-content">    </tbody>

    </table>
</main>
</body>
</html>
