{% if bulbs %}

{% for bulb in bulbs %}
<tr>
   <td>{{bulb.address}} </td>
   <td>{{bulb.transaction_id}}</td>
   <td>{{bulb.channel}}</td>
    <td>{{bulb.signal_strength}}</td>
   <td>
   <button hx-post="/identify_bulb_htmx"
            hx-vals='{"address": "{{bulb.address}}", "transaction_id": "{{bulb.transaction_id}}", "channel": {{bulb.channel}} }'
            hx-disabled-elt="this"
           hx-ext='json-enc'
   >
   Identify
    </button>
    </td>
    <td>
        <button hx-post="/reset_bulb"
                hx-disabled-elt="this"
                hx-vals='{"address": "{{bulb.address}}", "transaction_id": "{{bulb.transaction_id}}", "channel": {{bulb.channel}} }'
                hx-ext='json-enc'
                >
                Factory Reset
        </button>
    </td>

</tr>
{% endfor %}

{% else %}
    <p>No bulbs found</p>
{% endif %}

